block content
h1 Create a variant
if !variant
  form(action=`/variants/${if variant.id}${variant.id}` method="POST")
    input#date(name="id", type="text")
    fieldset.form-group 
      label(for="title")  Title: 
      input.form-control(name="title", type="text", value='')
    fieldset.form-group 
      label(for="brand")  Brand: 
      input.form-control(name="brand", type="text", value='brand')
    fieldset.form-group 
      label(for="price")  Price: 
      input.form-control(name="price", type="text", value='price')
    fieldset.form-group 
      label(for="description")  Description: 
      textarea(name="description", type="text", value='description', cols='30', rows='5')
    button(type="submit") Save  
else
  form(action="/variants/" + variant.id method="POST")
    input#date(name="id", type="text")
    fieldset.form-group 
      label(for="title")  Title: 
      input.form-control(name="title", type="text", value=variant.title)
    fieldset.form-group 
      label(for="brand")  Brand: 
      input.form-control(name="brand", type="text", value=variant.brand)
    fieldset.form-group 
      label(for="price")  Price: 
      input.form-control(name="price", type="text", value=variant.price)
    fieldset.form-group 
      label(for="description")  Description: 
      input(name="description", type="text", value=variant.description, cols='30', rows='5')
    button(type="submit") Save 
  //- form(action='#' method="post") 
  //-     .form-group
  //-         label(for=variant[title]) Title
  //-         input.form-control(name=product[title], type='text', placeholder='iPhone 12...', value=product.title, autofocus=true)
  //-     .form-group
  //-         label(for=product[brand]) Brand: 
  //-         input.form-control(name=product[brand], type='text', placeholder='Apple, Nike', value=product.brand)
  //-     .form-group
  //-         label(for=product[price]) Price
  //-         input.form-control(name=product[price], type='number', placeholder='price', value=product.price)
  //-     .form-group
  //-       label(for=product[description]) Description
  //-       textarea#text(name=product[description], value=product.description, cols="15", rows="5") 
  //-     .form-group
  //-         label(for='product[is_published]') In Stock
  //-         input.form-control(name='product[is_published]', type='checkbox')
  //-     button.btn.btn-primary(type='submit', value='Save') Create