extends ../../layouts/base.pug

block content
  main.main
    h1= title 
      p Welcome to #{title} 
    h1 All variants 
    ul 
      li: a(href="/variants/new") Add new Variant
    div.card-container
      if variant
      .card 
        .card-header 
            .card-picture 
              .card-picture-overlay &nbsp;
              img.card-picture-img(src=variant.img, alt="alt", width='')  
            h3(class='card-header')= variant.title
            h4= '$' + variant.price
            |
            p= variant.productId 
            |
            p= product.title
            button.btn.btn-primary.btn-card(type='button')
              a(href=`/variants/${variant.id}/edit`) Edit
            button.btn.btn-primary.btn-card(type='button')
              a(href=`/products/${variant.id}/delete`) Delete




