block content
main.main
  if !image
    h1 Create a image
    form(action="/images" method="POST")
      input(name="id", type="text", hidden="true")
      fieldset.form-group 
        label(for="title")  Title: 
        input.form-control(name="title", type="text", value='')
      button(type="submit") Save  
  else
    form(action="/images/" + image.id method="POST")
      input#date(name="id", type="text")
      fieldset.form-group 
        label(for="title")  Title: 
        input.form-control(name="title", type="text", value=image.title)
      button(type="submit") Save 
  //- form(action='#' method="post") 
  //-     .form-group
  //-         label(for=product[title]) Title
  //-         input.form-control(name=product[title], type='text', placeholder='iPhone 12...', value=product.title, autofocus=true)
  //-     .form-group
  //-         label(for=product[brand]) Brand: 
  //-         input.form-control(name=product[brand], type='text', placeholder='Apple, Nike', value=product.brand)
  //-     .form-group
  //-         label(for=product[price]) Price
  //-         input.form-control(name=product[price], type='number', placeholder='price', value=product.price)
  //-     .form-group
  //-       label(for=product[description]) Description
  //-       textarea#text(name=product[description], value=product.description, cols="15", rows="5") 
  //-     .form-group
  //-         label(for='product[is_published]') In Stock
  //-         input.form-control(name='product[is_published]', type='checkbox')
  //-     button.btn.btn-primary(type='submit', value='Save') Create