block content
if !product
  h1 Create a Product
  form(action="/products" method="POST")
    input(name="id", type="text", hidden="true")
    fieldset.form-group 
      label(for="title")  Title: 
      input.form-control(name="title", type="text")
    fieldset.form-group 
      label(for="brand")  Slug: 
      input.form-control(name="brand", type="text")
    fieldset.form-group 
      label(for="price")  Price: 
      input.form-control(name="price", type="text")
    fieldset.form-group 
      label(for="is_published")  Published: 
      input.form-control(name="is_published", type="checkbox")
    input(type="submit") Save  
else
  h1 Edit #{product.title}
  form(action=`/products/${product.id}` method="POST")
    input(name="id", type="text", hidden="true", value=product.id)
    fieldset.form-group 
      label(for="title")  Title: 
      input.form-control(name="title", type="text", value=product.title)
    fieldset.form-group 
      label(for="brand")  Slug: 
      input.form-control(name="brand", type="text", value=product.slug)
    fieldset.form-group 
      label(for="price")  Price: 
      input.form-control(name="price", type="text", value=product.price)
    fieldset.form-group 
      label(for="description")  Description: 
      input(name="description", type="text", value=product.description, cols='20', rows='5')
    fieldset.form-group 
      label(for="is_published")  Published: 
      input.form-control(name="is_published", type="checkbox", value=product.is_published, checked=true)
  button(type="submit") Save 
  //- form(action='#' method="post") 
  //-     .form-group
  //-         label(for=product[title]) Title
  //-         input.form-control(name=product[title], type='text', placeholder='iPhone 12...', value=product.title, autofocus=true)
  //-     .form-group
  //-         label(for=product[brand]) Brand: 
  //-         input.form-control(name=product[brand], type='text', placeholder='Apple, Nike', value=product.brand)
  //-     .form-group
  //-         label(for=product[price]) Price
  //-         input.form-control(name=product[price], type='number', placeholder='price', value=product.price)
  //-     .form-group
  //-       label(for=product[description]) Description
  //-       textarea#text(name=product[description], value=product.description, cols="15", rows="5") 
  //-     .form-group
  //-         label(for='product[is_published]') In Stock
  //-         input.form-control(name='product[is_published]', type='checkbox')
  //-     button.btn.btn-primary(type='submit', value='Save') Create