extends ../../layouts/base.pug

block content
  main.main
    h1= title 
      p Welcome to #{title} 
    h1 All Products 
    ul 
      li: a(href="/products/new") Create New Product
      li: a(href=`/products/${products.id}`) Edit Product(s)
      li: a(href="/products/") Delete
  div.card-container
    each product in products 
     .card 
       .card-header 
          .card-picture 
            .card-picture-overlay &nbsp;
            img.card-picture-img(src=product.img, alt="alt", width='')  
          h3(class='card-header')= product.title
          h4= '$' + product.price
          |
          p= product.description 
          button.btn.btn-primary.btn-card(type='button')
            a(href=`/products/${product.id}/edit`) Edit
          button.btn.btn-primary.btn-card(type='button')
            a(href=`/products/${product.id}/delete`) Delete




